
.fs-10{ font-size: 10px !important; }
.fs-12{ font-size: 12px !important; }
.fs-13{ font-size: 13px !important; }
.fs-14{ font-size: 14px !important; }
.fs-15{ font-size: 15px !important; }
.fs-16{ font-size: 16px !important; }
.fs-18{ font-size: 18px !important; }
.fs-20{ font-size: 20px !important; }
.fs-21{ font-size: 21px !important; }
.fs-23{ font-size: 23px !important; }
.fs-25{ font-size: 25px !important; }
.fs-28{ font-size: 28px !important; }

.list_blog_data .box-content{

}
.list_blog_data .box-content .image{

}
.list_blog_data .box-content .title{
	clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_blog_data .box-content .klik{

}


@media (min-width: 1600px){

	.bg-blues.blocks_commitments_quality{
		background-size: cover;
	}

}