/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container,
	header.head.headers .container{
		max-width: 100%;
		padding: 0 15px;
	}
	
}

@media (max-width: 1310px){


}

@media (max-width: 1280px){

}

@media (max-width: 1160px){
	
	.container,
	.prelatife.container,
	.prelative.container{
		padding: 0 15px;
		max-width: 100%;
		width: auto;
	}

	section.home-section-1.backs_handsgras,
	section.home-section-4.backs_handswomen{
		background-position: bottom center;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption{
		left: 3%;
		right: 3%;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3{
		font-size: 25px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p{
		font-size: 14px;
	}
	
}

/* Large desktop */
@media (max-width : 1135px){

}

@media (max-width : 1080px) { 

	header.head.headers{
		margin-top: 0rem;
		padding-bottom: 1rem;
		height: auto;
		background-color: rgba(255,255,255,1);
		.bg-light{
			background-color: rgba(255,255,255,1) !important;
		}
	}
	.holdes_top{
		height: 90px;
	}
	
}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{
	}

}

@media (max-width : 991px) { 
	


}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }

}

@media (max-width: 979px) {


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		padding: 0 !important;
		.navbar{
			padding-top: 0.85rem;
			padding-bottom: 0.85rem;
			.navbar-nav>li>a{
				padding-top: 0.2rem;
				padding-bottom: 0.2rem;

				color: rgba(0,0,0, 0.75);
			}
			.navbar-nav>li:focus>a,
			.navbar-nav>li:hover>a{
				color: rgba(0,0,0, 0.95);
			}
		}
	}

	header.head.headers.morph{
		padding: 0 !important;
		border-bottom-width:3px;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-light .navbar-brand{
		max-width: 275px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}

	.prelative.container{
		padding: 0 15px;
	}

	section.live-chat{
		display: none;
	}

	.calls_wa a,
	.calls_wa span{
		display: block;
	}
	.calls_wa small{
		display: none;
	}
	#back-top{
		bottom: 7%;
	}

	// fcs wrapper
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native{
		display: none;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item .carousel-caption{
		left: inherit;
		right: inherit;
		bottom: inherit;
		top: inherit;
		background-color: #0756a5;
		position: relative;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3, 
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h4{
		font-size: 1.35rem;
	}
	section.backs_home1 .inners{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	section.backs_home1 .tops_title h2{
		font-size: 1.7rem;
	}
	section.backs_home1 .tops_title p{
		font-size: 15px;
	}
	.lists_perdana_home1 .items{
		margin-bottom: 1.75rem;
	}
	section.backs_home2{
		height: auto;
		padding-bottom: 5rem;
	}
	section.backs_home2 .inners .info h3{
		font-size: 30px;
	}
	section.backs_home2 .inners .info p{
		font-size: 15px;
	}
	section.backs_home3.back-fort_variant .inners{
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	section.backs_home3.back-fort_variant .inners .texts{
		 h3.counting{
			font-size: 4rem;
		}
		margin-bottom: 1.5rem;
	}
	section.backs_home4 .inners h5{
		font-size: 1.2rem;
	}
	section.backs_home4 .inners a.btns_custom{
		white-space: initial;
		font-size: 13px;
		padding-left: 1rem; padding-right: 1rem;
	}
	.backs_block_topfooter .inners form.form-inline input{
		margin-bottom: 1rem;
	}
	footer.foot .t-copyrights{
		text-align: center !important;
	}

	// insides

	.hero-inside-pages .caption-insides-top{
		position: relative;
		bottom: inherit;
		left: inherit;
		padding: 2rem 0;
    	background: #0f4690;
    	.inners{
    		p{
    			font-size: 17px;
    			br{
    				display: none;
    			}
    		}
    		h1{
    			font-size: 30px;
    		}
    		padding: 0 15px;
    	}
	}

	section.insidespg-cover .insides_intext p{
		font-size: 24px;
	}
	section.insidespg-cover{
		height: 60vh;
	}

	.content-text h2.small_title{
		font-size: 1.7rem;
	}
	.content-text p{
		font-size: 15px;
	}
	.content-text{
		.picture.banners{
			img{}
			margin-bottom: 2rem;
		}
	}

	section.back-white.insides_topback2 .inners h3, 
	section.back-white.insides_topback2 .inners h4{
		font-size: 27px;
	}
	.content-text h3, .content-text h4{
		margin-bottom: 1rem;
	}
	section.back-white.insides_topback2 .inners p{
		font-size: 15px;
	}
	section.back-white.insides_topback2 .inners{
		padding-bottom: 0 !important;
	}
	section.back-blues.insides_topback4 .inners.content-text h4.titles_visi{
		font-size: 28px;
	}
	section.back-blues.insides_topback4 .inners.content-text ol li, 
	section.back-blues.insides_topback4 .inners.content-text ul li{
		margin-bottom: 0.8rem;
	}

	.insides_topback1_qualitys .tops_content_quality h2{
		font-size: 1.7rem;
	}

	.outers_back_product_details_pg .tops_prd_details_cont a.backs_prd{
		text-align: center !important;
	}
	.outers_back_product_details_pg .tops_prd_details_cont h3.titles{
		font-size: 35px;
		padding: 0.7rem 0;
	}
	.content-text h2{
		font-size: 26px;
	}
	.blocks_detailn_tab .row .col-md-12{
		border-right: 0;
		border-bottom: 1px solid #b8b8b8;
	}
	.blocks_detailn_tab .texts{
		padding: 1.2rem 0;
		height: auto;
	}

	.outers_back_product_details_pg .tops_prd_details_cont .out_breadcrumbs ol.breadcrumb{
		text-align: center;
		justify-content: center;
		margin-top: 0 !important;
	}

	.lists_application_data .lists_item .texts{
		padding: 1.5rem 15px 15px;
		h3{
			font-size: 1.3rem;
		}
	}
	.hero-inside-pages .caption-insides-top .inners h1{
		font-size: 28px;
	}

	.lists_quality_fundam_data .texts{
		margin-bottom: 1.8rem;
	}
	.lists_quality_fundam_data .texts h3{
		font-size: 22px;
	}
	.bg-blues.blocks_commitments_quality .inners h3{
		font-size: 28px;
	}
	.bg-blues.blocks_commitments_quality .inners p{
		font-size: 16px;
		line-height: 1.5;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}