@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&display=swap');

@play: 'Play', sans-serif;
@firasans: 'Fira Sans', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #fff;
    font-family: @play;
}

h1,h2,h3,h4,h5,h6,p,a, div{
    font-family: @play;
    margin-bottom: 0;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1135px;
    margin: 0 auto;
    position: relative;
}

.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{
    .container{
        max-width: 1135px;
        width: auto;
        margin: 0 auto;
    }
    .container.cont-fcs{
      max-width: 100%;
      padding: 0;
      .carousel-item{
        background-size: cover; 
        img{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
        }
        .carousel-caption{
            left: 0; right: 0;
            bottom: 30%;
            top: inherit;
        }
      }

      .carousel-button-native{
        position: absolute;
        width: 100%;
        bottom: 2%;
        left: 0;

        ol.carousel-indicators{
          position: relative;
          max-width: inherit;
          margin: 0px;
          right: inherit;
          width: auto;
          text-align: left;
          justify-content: left;

          li{
            border-radius: 0;
            background: #c9c9c9;
            width: 59px;
            height: 7px;
            cursor: pointer;
          }
          li.active{
            background: #ffffff;
            width: 59px;
            height: 7px;
          }
          left: inherit;
        }
      }

    }

  clear: both;
}

.caption-slider-home{
    left: 0; right: 0;
    bottom: 30%;
    top: inherit;
    position: absolute;
    z-index: 15;
.bxsl_tx_fcs{
    h3, h4{
        font-size: 39px;
        font-weight: 700;
        color: #fff;
        padding-bottom: 0.85rem;
    }
    p{
        font-size: 14px;
        font-weight: 700; 
        color: #ffffff; line-height: 1.35;
        padding-bottom: 0.75rem;
    }

    a.btns_bdefaults{
        background: none;
        background-color: rgba(255,255,255, 0);

        font-size: 15px; font-weight: 700; color: #fff;

        letter-spacing: 0px;
        border: 2px solid #fff;
        border-radius: 25px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    a.btns_bdefaults:hover,
    a.btns_bdefaults:focus{
        background-color: rgba(255,255,255, 0);
        text-decoration: none;
        color: #f5f5f5;
    }

    max-width: 565px;
    // padding: 1.7rem 2rem;
    // background-color: rgba(50,23,4, 0.65);
}
clear: both;
}

header.head.headers.morph{
    clear: both;
    .logo_heads{
        img{ 
            // max-width: 175px;
        }
        padding-top: 0 !important;
        .taglines_head span{
            font-size: 13px;
        }
    }
    .tops_iso{
        display: none;
    }
    .prelative.container.d-none.d-sm-block{
        padding-top: 0 !important;
    }
    .top-menu{
        padding-top: 0.15rem;
        ul.list-inline{
            li{
                a{
                    font-weight: 700;
                    font-size: 14px !important;
                }
            }
            list-style: none;
        }
    }
    padding: 1.1rem 0 0 !important;
    border-bottom: 5px solid #064788;
    height: auto;
    background-color: rgba(255,255,255, 1);
    margin-top: 0;
    position: fixed;
    top: 0px; left: 0;
    width: 100%; z-index: 17;
}

.bg-white2{
    background-color: #f5f5f5 !important;
}

header.head.headers{
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition-duration: 0.6s;

    height: auto;
    background-color: rgba(255,255,255, 0.8);
    padding-top: 1.35rem;
    // padding-bottom: 1.35rem;
    .container{
        max-width: 1135px;
        width: auto;
        margin: 0 auto;
    }

    .bottoms_blue_head{
        margin-top: 1.5rem;
        background-color: #0655a4;
        -webkit-box-shadow: inset 4px 4px 15px 0px rgba(50, 50, 50, 0.35);
        -moz-box-shadow:    inset 4px 4px 15px 0px rgba(50, 50, 50, 0.35);
        box-shadow:         inset 4px 4px 15px 0px rgba(50, 50, 50, 0.35);
        .wa_nsx_head a,
        .wa_nsx_head{
            font-size: 14.5px; font-weight: 700; color: #fff;
            text-decoration: none;
        }
    }

    .top-menu{
        // padding-top: 1.4rem; 
        ul.list-inline{
            margin: 0;
            li{
                a{
                    font-weight: 700; color: #fff;
                    font-size: 15px !important;
                }
                margin-right: 25px;
            }
            li:last-child{
                margin-right: 0;
            }
            li.active,
            li:hover{
                a{
                    color: #D8D8D8;
                    text-decoration: none;
                }
            }
        }
    }


    .prelative.container.d-none.d-sm-block{
        .logo_heads{
            img.img.img-fluid{
                // width: 83%;
            }
            .logos{}
            .lines_middlen_greyline{
                background-color: rgba(161,161,161, 0.5);
                height: 55px; width: 1px;
            }
            .taglines_head{
                span{
                    font-size: 15px; font-weight: 700; color: #222222;
                }
            }
        }

        clear: both;
    }

    clear: both;
}

.lists_perdana_home1{
    .items{
        .info{
             display: block;
             position: absolute;
             bottom: 0;
             left: 0; z-index: 4;
            h4{
                display: block;
                line-height: 1.4;
                font-size: 16px; 
                font-weight: 700; color: #fff;
            }
            margin-left: 1rem;
            margin-bottom: 0.2rem;
        }
        .pict{
            -webkit-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.36);
            -moz-box-shadow:    4px 4px 13px 0px rgba(50, 50, 50, 0.36);
            box-shadow:         4px 4px 13px 0px rgba(50, 50, 50, 0.36);
            img{
                width: 100%;
                }
        }
        position: relative; 
        z-index: 2;
        clear: both;
    }
    clear: both;
}

section.backs_home1{
    .inners{
        clear: both;
    }
    .tops_title{
        h2{
            font-size: 35px; font-weight: 700; color: #1d59aa;
            margin-bottom: 1rem;
        }
        p{
            line-height: 1.5;
            font-size: 17px; font-weight: 400; color: #484848;
        }
    }
    background: url('../images/backs_homes_11_.jpg') no-repeat;
    background-size: cover;
    width: 100%; min-height: 670px; height: auto;
    position: relative;
    z-index: 5;
    clear: both;
}

section.backs_home2{
    .inners{
        .info{
            h3, h2, p{
                display: block; margin: 0; padding: 0;
                line-height: 1.4;
            }
            h3{
                font-size: 39px; font-weight: 700; color: #1d59aa;
                margin-bottom: 1rem;
            }
            p{
                font-size: 17px; font-weight: 400; color: #6a6a6a;
                line-height: 1.5;
            }
            a.btns_bluesn_default{
                background-color: #1d59aa;
                font-size: 15px; font-weight: 700; color: #fff; line-height: 1;
                padding: 0.6rem 1.5rem;
                border-radius: 25px;
            }
        }
        clear: both;
    }

    .tops_title{
        h2,
        h5.small-titles{
            color: #fff;
        }
        padding-bottom: 1rem;
    }

    background-color: #f0f0f0;
    width: 100%; min-height: 619px; height: 605px;
    position: relative;
    z-index: 15;
    clear: both;
}

.mw745{
    max-width: 745px;
}

section.backs_home3.back-fort_variant{
    .inners{
        .texts{
            h3.counting{
                display: block; line-height: 1;
                font-size: 72px; font-weight: 700; color: #96c3ff;
            }
            p{
                display: block; margin-top: 0.7rem;
                font-size: 19px; font-weight: 700; color: #fff;
            }
        }
        clear: both;
    }

    background: url('../images/backs_home_blue1.jpg') bottom right no-repeat;
    background-size: cover;
    width: 100%; min-height: 270px; height: auto;
    color: #fff;

    position: relative;
    z-index: 5;
    clear: both;
}

section.backs_home4{
    .inners{
        font-family: @play;

        h3, h5, p, span{
            display: block;
            line-height: 1.35;
            margin: 0; padding: 0;
            margin-bottom: 1.5rem;
        }
        h3{
            font-size: 30px; font-weight: 700; color: #fff;
        }
        h5{
            font-size: 23px; font-weight: 700; color: #fff;
        }
        p{
            font-size: 17px; font-weight: 400; color: #fff;
            strong, b{
                font-weight: 700;
            }
        }
        a.btns_custom{
            padding-left: 2rem; padding-right: 2rem;
            border-radius: 25px;
            background-color: transparent;
            border: 2px solid #fff;

            font-size: 15px; font-weight: 700; color: #fff;
        }

        clear: both;
    }

    background: url('../images/backs_ntop_footer_2.jpg') no-repeat;
    background-size: cover;
    
    color: #fff;
    width: 100%; min-height: 400px; height: auto;

    position: relative;
    z-index: 5;
    clear: both;
}

.tops_title{
    h2,
    h5.small-titles{
        display: block;
        margin: 0;
        font-size: 32px; font-weight: 700;
        color: #1e3668;
        line-height: 1;
    }
    padding-bottom: 1rem;
}

a.btns_customs_defaultn{    
    font-size: 15px; font-weight: 700; color: #fff;
    letter-spacing: 2px;

    background-color: #1d59aa;
    border: 0px; border-radius: 0px;
    padding: 0.4rem 2rem;
}
a.btns_customs_defaultn:hover,
a.btns_customs_defaultn:focus{
    background-color: #1d59aa;
    color: #fff;
}

.backs_block_topfooter.set_inside{
    background-color: #f5f5f5;
}
.backs_block_topfooter{
    .inners{
        h3{
            font-size: 30px; font-weight: 700; color: #0655a4;
            padding-bottom: 0.5rem;
        }
        p{
            font-size: 17px; font-weight: 400; color: #5a5c63;
            margin-bottom: 1rem;
        }

        form.form-inline{
            input.form-control{
                font-size: 15px; font-weight: 400; color: #5a5c63;
                border: 2px solid rgba(127, 127, 127, 0.33);
                border-radius: 25px;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            button.btn{
                background: none;
                background-color: #0655a4;
                padding-left: 2.5rem; 
                padding-right: 2.5rem;
                border-radius: 25px;
                font-size: 15px; font-weight: 700; color: #fff;
            }
            margin-bottom: 0;
        }
    }
    clear: both;
}

footer.foot{
    .tops_foot{
        background-color: #0655a4;
        .lists_blc_icons{
            .col-md-15{
                border-right: 1px solid #fff;
            }
            .col-md-15:last-child{
                border-right: 0;   
            }
            .texts{
                padding: 0.5rem 0;
            }
            .icons{
                img{}
            }
            .info{
                small{
                    font-size: 13px; font-weight: 700; color: #fff;
                }
                p a,
                p{
                 font-size: 13px; font-weight: 700; color: #fff;   
                 text-decoration: none;
                }
            }
            clear: both;
        }
        clear: both;
    }
    .t-copyrights{
        font-family: @firasans;
        font-size: 11px;
        font-weight: 400; color: #484848;
        p{
            font-weight: 500;
            text-transform: uppercase;
            display: block;
            margin: 0;
        }
        a{
            font-family: @firasans;
            font-size: 11px;
            font-weight: 400; color: #484848;
            text-decoration: none;
        }
        a:hover,
        a:focus{
            text-decoration: none;
            color: #484848;
        }
    }

    clear: both;
    color: #484848;
}

.clearfix,
.clear{
    clear: both;
}
section.live-chat {
    position: fixed;
    right: 0;
    top: 60%;
}
.nfoot_mob_wa {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    width: 100%;
    background-color: #f5f5f5;
    .nx_button {
        text-align: center;
        padding: 0.5rem 0;
        border-top: 1px solid #ccc;
        a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            i.fa {
                color: green;
            }
        }
    }
}

#back-top {
    color: #FFF;
    background: #FFF;
    font-size: 20px;
    line-height: 100%;
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit!important;
    border: 1px solid #c5c5c5;
    border-right: 0;
    border-bottom: 0;
    display: none;
    i.fa {
        color: #565656;
    }
} 

@import 'subpage.less';
@import 'n_media_styles.less';