.hero-inside-pages{
	.picture_big{
		img{}
	}

	.caption-insides-top{
		position: absolute;
		
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: auto;
		z-index: 1;

		z-index: 100;
		display: table;
		vertical-align: middle;
		text-align: center;
		padding: 5rem 0;
		height: 100%;
		// background-color: rgba(11,37,71, 0.8);
		.inners{
			display: table-cell;
			vertical-align: middle; text-align: center;
			height: 100%;
			width: 100%;
			max-width: 880px; 
			margin: 0 auto;
			h1, p{
				display: block;
				margin: 0;
				padding: 0;
			}
			h1{
				font-size: 40px;
				font-weight: 700;
				color: #fff;
				line-height: 1;
				margin-bottom: 0.5rem;
			}
			p{
				font-size: 21px;
				font-weight: 400;
				color: #fff;
				line-height: 1.4;
			}
		}
	}
	clear: both;
	position: relative;
	z-index: 1;
}

.maw805{
	max-width: 805px;
}

.back-white{
	background-color: #fff;
}

section.backs_blue.insides_topback1{
	min-height: 200px; height: auto;
	width: 100%;
	background-color: #0a5bab;
	.inners{
	}
	.tops_content_about.content-text{
		p{
			font-size: 600px; font-size: 22px;
			color: #fff;
		}
	}
	clear: both;
}

section.back-white.insides_topback2{
	min-height: 200px; height: auto;
	width: 100%;
	background-color: #fff;
	.inners{
		h3, h4{
			font-size: 35px; font-weight: 700;
			color: #1d59aa;
		}
		p{
			font-size: 17px; font-weight: 400; color: #6a6a6a;
		}
		clear: both;
	}
	clear: both;
}

section.back-grey.insides_topback3{
	min-height: 200px; height: auto;
	width: 100%;
	background-color: #e6e9ec;
	.inners{
	}

	.lists_pillar_about{
		.items{
			.pict{
				img{}
			}
			.info{
				h5{
					margin: 0;
					
					font-size: 20px; font-weight: 700; color: #0b2547;
				}
				p{
					font-size: 15px; font-weight: 300; color: #505050; line-height: 1.45;
				}
				clear: both;
			}
		}
	}
	clear: both;
}

section.back-blues.insides_topback4{
	min-height: 200px; height: auto;
	width: 100%;
	// background-color: #0655a4;
	background: #0655a4 url('../images/backs_outer_vision.jpg') right center no-repeat;
	.inners.content-text{
		h3, h4{
			color: #fff;
		}
		h4.titles_visi{
			font-size: 35px;
			font-weight: 700; color: #fff;
		}
		.texts{
			max-width: 509px; 
		}
		ol li,
		ul li,
		p{
			font-size: 17px; font-weight: 400;
			color: #fff;
		}
		ol li,
		ul li{
			margin-bottom: 1.5rem;
		}
	}
	clear: both;
}


.lists_application_data{
	.lists_item{
		.banner-pict{
			img{}
		}
		.texts{
			h3{
				font-size: 25px; font-weight: 700; color: #1d59aa;
				margin-bottom: 1rem;
			}
			ol li,
			ul li,
			p{
				font-size: 14px; font-weight: 400; color: #6a6a6a;
			}
			ol li,
			ul li{
				margin-bottom: 0.25rem;
			}
		}
		position: relative; z-index: 2;
		-webkit-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.35);
		-moz-box-shadow:    4px 4px 13px 0px rgba(50, 50, 50, 0.35);
		box-shadow:         4px 4px 13px 0px rgba(50, 50, 50, 0.35);
		background-color: #f8f8f8;
	}
	clear: both;
}

.lists_quality_fundam_data{
	.banner-pict{
		margin-bottom: 1.5rem;
		display: block;
	}
	.texts{
		h3{
			font-size: 25px; font-weight: 700;
			color: #1d59aa; margin-bottom: 1rem;
		}
		p{
			font-size: 14px; font-weight: 400; color: #6a6a6a;
		}
	}
}

.bg-blues.blocks_commitments_quality{
	// background-color: #064584;
	background: #064584 url('../images/backs_nbtm_quality_dns.jpg') bottom center no-repeat;
	min-height: 1750px; height: auto;
	width: 100%;
	color: #fff;
	.inners{
		h4{
			font-size: 20px; font-weight: 700; color: #fff;
			margin-bottom: 0.75rem;
		}
		h3{
			font-size: 35px; font-weight: 400; color: #fff;
			margin-bottom: 0.85rem;
		}
		p{
			font-size: 18px; font-weight: 400; color: #a7bfc3;
		}
	}

	.lists_wedo_data{
		.box_items{
			.picture{
				img{}
			}
			.infos{
				padding-top: 0.6rem;
				p{
					font-size: 17px; font-weight: 400; color: #fff;
				}
			}
			margin-bottom: 2rem;
			clear: both;
		}
		clear: both;
	}

	clear: both;
}

// quality page
.insides_topback1_qualitys{
	.tops_content_quality{
		h2{
			font-size: 35px; font-weight: 700; color: #1d59aa;
			line-height: 1.2;
			display: block;
		}
		max-width: 1015px;
	}

	background-color: #e0e0e0;
	clear: both;
}


// contact page

.lines-grey{
	background-color: #b8b8b8;
	height: 1px; 
	width: 100%;
}

.blocks_detailn_tab{
	.row{
		.col-md-15,
		.col-md-12{
			border-right: 1px solid #b8b8b8;
		}
		.col-md-15:last-child,
		.col-md-12:last-child{
			border-right: 1px solid transparent;
		}
	}
	.texts{
		height: 105px;
		display: table; 
		width: 100%;
		vertical-align: middle; text-align: center;
		p{
			display: table-cell; 
			vertical-align: middle; text-align: center;
			width: 100%;
			margin: 0;
			font-size: 15px; font-weight: 400; color: #1d59aa;
			line-height: 1.5;
		}
	}
}
a.bakcs_t_prd{
	background-color: #0655a4;
	border-radius: 25px;
	padding-left: 2rem; padding-right: 2rem;
	font-size: 15px; font-weight: 700; color: #fff;
}

.outers_back_product_details_pg{
	background:#fff url('../images/backs_prdnc_page.jpg') top center repeat-x;
	width: 100%;
	min-height: 950px;
	height: auto;

	.tops_prd_details_cont{
		.out_breadcrumbs{
			ol.breadcrumb{
				li.breadcrumb-item{
					font-size: 15px; font-weight: 700; color: #fff;
					a{
						font-size: 15px; font-weight: 400; color: #fff;	
						text-decoration: none;
					}
				}
				background-color: transparent;
				box-shadow: none; border: 0;
				margin: 0; padding: 0;
				margin-top: 0.6rem !important;
			}
			clear: both;
		}
		h3.titles{
			font-size: 40px; font-weight: 400; color: #fff;
			display: block; line-height: 1;
		}
		a.backs_prd{
			margin-top: 0.6rem !important;
			font-size: 15px; font-weight: 700; color: #fff;
			text-decoration: none;
		}
		clear: both;
	}
	clear: both;
}
.backs_transparent{
	background-color: transparent !important;
}

.content-text{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		margin-bottom: 1.3rem;
		
	}
	h2{
		font-weight: 700;
		font-size: 35px;
		color: #1d59aa;
	}
	h2.small_title{
		font-weight: 700;
		font-size: 35px;
		b,strong{
			font-weight: 700;
		}
		line-height: 1.1;
		color: #1d59aa;
	}

	h3,
	h4{
		font-size: 25px;
		font-weight: 700;
		color: #0b2547;
		text-transform: inherit;
		margin-bottom: 1.5rem;
	}

	p{
		
		font-size: 17px;
		font-weight: 400;
		color: #5a5c63;
		line-height: 1.7;
		margin-bottom: 1.5rem;
		a{
			color: #5a5c63;
			font-weight: 400;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #6E6E6E;
		}
	}

	ol,
	ul{
		li{
			
			font-size: 17px;
			font-weight: 300;
			color: #505050;
		}
		margin: 0;
	}

}
